<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Beelajar</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/css/matrix-login.css" />
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div id="loginbox">            
            <form id="loginform" method="post" class="form-vertical" action="/pengajar/signup">
				 <div class="control-group normal_text"> <img src="/landing/img/beelajar.png" width="200px" height="200px"> </div>
                    <% if(message !== ''){ %>
                            <div class="alert alert-success"><%- message %></div>
                     <%   }  %>
                   
                 <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" name="nama_pengajar" placeholder="Nama lengkap" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" name="email" placeholder="email" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" name="no_telp" placeholder="Nomor Telepon" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="password" placeholder="Password" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="/pengajar/login" class="flip-link btn btn-info" >Punya Akun ?</a></span>
                    <span class="pull-right"><input type="submit" class="btn btn-success" value="DAFTAR" /> </span>
                </div>
            </form>
        </div>
        
        <script src="/js/jquery.min.js"></script>  
        <script src="/js/matrix.login.js"></script> 
    </body>

</html>
