<% include ../partials/header %>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
              <div class="widget-title"> <span class="icon"><i class="icon-book"></i></span>
                <h5>Materi</h5>
                <a title="Tambah materi" href="#myAlert" data-toggle="modal" class="btn btn-success" style="float:right;"><i class="icon-plus"></i> Tambah Materi</a>
              </div>
              <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                  <thead>
                    <tr>
                      <th>No. </th>
                      <th>Nama materi</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% 
                      var no = 1;
                      materi.forEach(function(data){ %>
                        <tr class="gradeX">
                          <td> <%= no %>
                          <td> <%= data.nama_materi %></td>
                          <td>
                              <a class="tip" href="#" title="Edit"><i class="icon-pencil"></i></a> <a class="tip" href="#" title="Delete"><i class="icon-remove"></i></a>
                          </td>
                        </tr>
                    <% no++; }); %>
                  </tbody>
                </table>
              </div>
        </div>
    </div> 
   </div> 
</div>
<div id="myAlert" class="modal hide">
              <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Tambah Materi</h3>
              </div>
              <div class="modal-body">
                  <form action="/dashboard/admin/materi/add" method="post" enctype="multipart/form-data" class="form-horizontal">

                  <div class="control-group">
                    <label for="checkboxes" class="control-label">Nama Materi</label>
                    <div class="controls">
                      <input type="text" class="form-control" name="nama_materi">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">File upload input</label>
                    <div class="controls">
                      <input type="file" name="foto_materi" />
                    </div>
                  </div>

                  
                
              </div>
              <div class="modal-footer"><button type="submit" class="btn btn-success">Save</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
              </form>
            </div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script src="/js/jquery.min.js"></script> 
<script src="/js/jquery.ui.custom.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.uniform.js"></script> 
<script src="/js/select2.min.js"></script> 
<script src="/js/jquery.dataTables.min.js"></script> 
<script src="/js/matrix.js"></script> 
<script src="/js/matrix.tables.js"></script>
</body>
</html>    